
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.dark-2{
  color: #474747;
}
/* shared style */
.text-primary{
    color: #FD6E0A
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
.button-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

                                   /* class declaration nav er */
.nav-title{          
     font-weight:800 ;
     font-size:45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration:none;
  font-size: 20px;

}
                                                           /* banner styles  */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}

.banner-greetings{
font-weight:600;
font-size: 45px ;
}

.banner-title{
font-weight:bold ;
font-size: 85px ;
}
.banner-pic{
  width: 45px;
}
.banner-content{
  max-width: 580px;
}